


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /*border-box	The width and height properties (and min/max properties) includes content, padding and border, but not the margin*/
    box-sizing: inherit;
}
/*Setting defaults, all these will be inherited to the child elements*/


body {
    box-sizing: border-box;
    height: 100vh;
   
  
}

.container {
    background-image: linear-gradient( #f8f8f8,rgb(254, 254, 254));
    bottom: 0;
    height: 100%;
}

.navbar {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5rem;
}

.navbar-nav > li {
    margin: 0 1rem;
}

.border {
    border: solid 3px salmon;
    
}

.textbox-size-50 {
    width: 50% !important;
}

.my-label {
    display: inline;
}

.guest-edit-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    


.input-wrapper {
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;

}

.input-wrapper span {

    width: 40%;
    text-align: left;
    font-size: 1.3rem;
}

.guest-listbox {
    height: 15rem;
    width: 20rem;
    left: 0;
    margin: 2rem 1rem;

}

.my-calendar {
    width: 30%;
    border: none !important;
}

.my-calendar > * {
    border: none !important;
}
.cal-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.booking-controls {
    justify-content: space-around;
}

.booking-summary {
    justify-content: flex-start;
    align-content: center;
}

.booking-summary > *{
    display: block;
    padding: 10px;
    
}

.booking-summary > i {
    vertical-align: middle;
}
.black {
    background: black;
}

.red {
    background: red;
}

.green {
    background: green;
}


.edit-wrapper {
    height: 100%;
    margin: 0 auto;
}


.input-wrapper span.err-label {
    padding-top: .5rem;
    padding-left: 1rem;
    font-size: .8rem !important;
    width: 100% !important;
    color: #ff3535;
    font-weight: bold;
}

.search-wrapper > input {
    display: inline-block;
}