


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /*border-box	The width and height properties (and min/max properties) includes content, padding and border, but not the margin*/
    box-sizing: inherit;
}
/*Setting defaults, all these will be inherited to the child elements*/


body {
    box-sizing: border-box;
    height: 100vh;
   
  
}

.container {
    background-image: linear-gradient( #f8f8f8,rgb(254, 254, 254));
    bottom: 0;
    height: 100%;
}

.navbar {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5rem;
}

.navbar-nav > li {
    margin: 0 1rem;
}

.border {
    border: solid 3px salmon;
}

.textbox-size-50 {
    width: 50% !important;
}

.my-label {
    display: inline;
}

.guest-edit-wrapper {
    width: 40%;
}

    .guest-edit-wrapper span {
        display: inline-block;
        float: left;
        clear: left;
        
        text-align: right;
        padding: 6px 0px;
        /*line-height: 2rem;*/
    }

.guest-edit-wrapper input,
.guest-edit-wrapper select
{
    display: block;
    float: right;
    width: 16rem;
    
}

.input-wrapper {
    margin: 1rem 1rem;
    height: 2rem;
}

.guest-listbox {
    height: 15rem;
    width: 20rem;
    left: 0;
    margin: 2rem 1rem;

}